html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 300;
	min-height: 600px;
	min-width: 480px;
	margin: 0px;
	padding: 0px;
}

.navbar{
	margin-bottom: 0px;
}
.navbar a:hover {
	background-color: black !important;
	color: rgb(69, 151, 211) !important;
}
#logOutButton {
	background-color: rgba(255, 51, 51, 0.5);
	color: rgb(255, 255, 255);
}
#logOutButton:hover {
	background-color: rgba(255, 51, 51, 0.7) !important;
	color: rgb(255, 255, 255) !important;
}
#main {
	height: 100%;
	padding-top: 50px;
	background: url(../img/Optimized/clouds2DarkenOptimized.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.banner-container {
	width: 100%;
	height: 20%;
	
}
.banner-container {
	display: table;
	text-align: center;
	color: white;
	font-size: 8vh !important;
	font-weight: 100;
	width: 100%;
}
.banner-container p {
	height: 90%;
}
p, img, button {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
.menu-container {
	width: 100%;
	height: 80%;
	padding: 0px;
}

.spacer, .blankSpacer {
	height: 5%;
}
.paging {
	height: 10%;
	width: 100%;
}
p, img, button {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
.historyWrapper {
	height: 60%;
	width: 100%;
}
.historyHolder {
	height: 100%;
	width: 60%;
	background: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	display: table;
	text-align: left;
	color: white;
	font-size: 2vh !important;
	font-weight: 100;
	
}
.historyHolder .pastSearch {
	height: 15%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(200, 200, 200, 0.5);
	color: white;
	padding-left: 5%;
	font-size: 2vh !important
}
.title {
	height: 15%;
	border-left: 1px solid rgba(200, 200, 200, 0.5);
	background: rgba(0, 0, 0, 0.5);
	font-size: 3vh !important;
	color: rgb(255, 255, 255);
	display: table;
	text-align: center;
	font-weight: 100;
	width: 100%;
} 
.content {
	height: 85%;
	border-left: 1px solid rgba(200, 200, 200, 0.5);
	background: rgba(0, 0, 0, 0.6);
}
.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
}