html, body {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 100;
	margin: 0;
	padding: 0;
	min-height: 600px;
	min-width: 480px;
	overflow: auto;
	
	background-image: -webkit-linear-gradient(bottom, #B2FFFF 0%, #00A3EF 100%);

background: url(../img/pathsCrossingOptimized.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#header {
	width:100%;
	height: 5%;
	background-color: #333333;
}

#headerImage, #motoPic {
	max-width:100%;
	max-height:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#title {
	height: 15%;
}
.container-fluid {
	width: 100%;
	height: 55%;
	margin: 0;
	padding: 0;
	padding-top: 1%;
	padding-bottom: 1%;
}
.mainContainer {
	border-radius: 1%;
	color: rgb(255, 255, 255);
	font-weight: 300;
	width: 50%;
	height: 100%;
	height: 95%;
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
}
.cityDateRow {
	width: 100%;
	height: 10%;
	background-color: rgba(211, 211, 211, 0.5);
	font-size: 2vw;
}
.todayRow {
	width: 100%;
	height: 60%;
	background-color: rgba(211, 211, 211, 0.5);
}
.todayTempHolder {
	font-size: 6vw;
}
.humidityRow, .windRow {
	font-size: 2vw;
}
.comingRow {
	width: 100%;
	height: 30%;
	background-color: rgba(211, 211, 211, 0.8);
}
.firstDayTempHolder, .secondDayTempHolder {
	font-size: 2vw;
}
.firstDayNameHolder, .secondDayNameHolder {
	font-size: 2vh;
}
.todayHumidityHolder, .todayWindHolder, .firstDayTempHolder, .secondDayTempHolder {
	color: rgb(37,102,149);
	font-weight: 400;
}
.row {
	width: 100%;
}
.city, .date, .todayImgHolder, .todayInfo, .firstDay, .secondDay,
.humidityHolder,.todayHumidityHolder, .windHolder, .todayWindHolder,
.firstDayImgHolder, .firstDayTempHolder, .firstDayNameHolder,
.secondDayImgHolder, .secondDayTempHolder, .secondDayNameHolder {
	height: 100%;
}

.city, .date, .todayImgHolder, .todayTempHolder, .firstDayImgHolder,
.humidityHolder, .windHolder, .todayHumidityHolder, .todayWindHolder, 
.firstDayTempHolder, .firstDayNameHolder, .secondDayImgHolder, .secondDayTempHolder,
.secondDayNameHolder {
	display: table;
}
.firstDay {
	border-right: 1px solid rgb(255, 255, 255)
}
#todayImg, #firstDayImg, #secondDayImg {
	-webkit-filter: invert(1);
   	filter: invert(1);
}
p, .weatherImg {
	vertical-align: middle;
  	display: table-cell;
}
.weatherImg {
	height: 95%;
	width: 95%;
	margin: 0 auto;
}
.todayInfo {
	padding-bottom: 25%;
}
.todayTempHolder {
	height: 60%;
}
.humidityRow, .windRow {
	height: 15%;
}
.firstDayInfo, .secondDayInfo {
	height: 70%;
}
.firstDayNameHolder, .secondDayNameHolder {
	height: 30%;
	background-color: rgb(51, 51, 51);
}

#city, #date, #todayTemp, #humidity, #todayHumidityValue, #wind,
#todayWindValue, #firstDayTemp, #firstDayName,
#secondDayTemp, #secondDayName {
	height: 100%;
}
.col, .row {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
p {
	margin: 0px;
}
.textLeft {
	text-align: left;
	padding-left: 2%;
}
.textRight {
	text-align: right;
	padding-right: 2%
}
.row, .col, #title{
	overflow: hidden;
}
.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
}
#spacer {
	height: 5%;
}
#loginRegister {
	height: 10%;
	background-color: rgba(0, 0, 0, 0.6);
}
/*Button styles*/

#loginButton, #registerButton {
	border-radius: 0px;
	border: 0px;
	background: none;
	/*outline: white solid 2px;*/
	border: 2px solid white;
	font-size: 3vh !important;
	font-weight: 300;
	border-radius: 2px;
}
:focus {
	outline:none !important;
}

#loginButton:hover, #registerButton:hover {
	background-color: white;
	color: #256695;
}
#loginButton {
	color: white;
}
#registerButton {
	background-color: rgba(37,102,149,0.4);
	color: white;
}
#loginRegisterRow {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: table;
}
#loginCol, #registerCol {
	padding-left: 5px;
	padding-right: 10px;
}

.item {
	display:table;
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

#loginButton, #registerButton{
	width: 100%;
}
/*forms*/
.username, .password, #submitLogin, .firstName, .lastName, .secondPassword,
.email, #submitRegister {
	width: 80%;
	height: 100%;
	font-weight: 400;
	color: rgb(240, 240, 240);
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	background-color: rgb(64,64, 64);
	border: 0px;
}
.modal-body div {
	height: 43px;
}
#submitLogin, #submitRegister {
	background-color: rgb(86, 160, 216);
	height: 100%;
	padding: 0px;
	outline: 0px;
	border: 0px;
	color: white;
}
#submitLogin:hover, #submitRegister:hover {
	background-color: rgb(69, 151, 211);
}
.modal-dialog {
	width: 430px;
	height: 443px;
}
.modal-header {
	height: 126px;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgb(64, 64, 64);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 0px;
}
.modal-body {
	background-color: rgb(80,80,80);
	padding-top: 40px;
	padding-bottom: 40px;
}
#register .modal-body {
	padding-top: 20px;
	padding-bottom: 10px;
}
.modal-footer {
	text-align: left;
	background-color: rgb(64,64,64);
	border-top: 0px;
	color: rgb(86, 160, 216);
	height:63px;
	padding: 0px;
}

.utility-back, .utility-forgot {
	background: none;
	text-align: center;
	border: 0px;
	height: 63px;
	width: 215px;
}

.registerBackButton {
	width: 430px;
}

.utility-back:hover, .utility-forgot:hover {
	background-color: rgb(100, 100, 100);
	color: rgb(69, 151, 211);
}
.imgHolder {
	width: 86px;
	height: 86px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 50%;
	border: 3px solid rgb(100,100,100);
	background-color: rgb(100,100,100);
}
#userPic, #addUserPic {
	height: 50px;
	width: 50px;
	
}
.modal-content {
	margin-top: 10%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 0px;
}
#register .modal-content{
	margin-top: 0%;
}
.modal {
	background-color: rgba(234, 234, 234, 0.8);
}
#modalDayImg {
	height: 20px !important;
	width: 20px !important;
}