html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 300;
	min-height: 600px;
	min-width: 480px;
	margin: 0px;
	padding: 0px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar a:hover {
	background-color: black !important;
	color: rgb(69, 151, 211) !important;
}
#logOutButton {
	background-color: rgba(255, 51, 51, 0.5);
	color: rgb(255, 255, 255);
}
#logOutButton:hover {
	background-color: rgba(255, 51, 51, 0.7) !important;
	color: rgb(255, 255, 255) !important;
}
#main {
	height: 100%;
	padding-top: 50px;
	background: url(../img/Optimized/clouds2DarkenOptimized.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.banner-container {
	width: 100%;
	height: 20%;
}
.menu-container {
	width: 100%;
	height: 70%;
}

.spacer {
	height: 5%;
}
.row {
	height: 90%;
}
.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
}
p {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
.banner-container {
	display: table;
	text-align: center;
	color: white;
	font-size: 8vh !important;
	font-weight: 100;
	width: 100%;
}
.banner-container p {
	height: 90%;
}
.imgShow img {
	-webkit-filter: invert(1);
   	filter: invert(1);
   	height: 100%;
   	max-width: 100%;
   	margin: 0 auto;
}
.imgContainer {
	border: 0px;
	width: 50%;
	height: 20%;
	padding: 0px;
	margin: 0 auto;
	text-align: left;
}
.imgShow {
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}
.menu {
	background-color: none;
	height: 75%;
	margin: 0px auto;
	padding: 0px;
}
.col-xs-4 {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.col-xs-4:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
.optionName {
	height: 30%;
	padding-left: 5%;
	padding-right: 5%;
	display: table;
	text-align: center;
	color: white;
	font-size: 4vh !important;
	font-weight: 100;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.optionDescription {
	height:50%;
	padding-left: 5%;
	padding-right: 5%;
	display: table;
	text-align: center;
	color: white;
	font-size: 2.5vh !important;
	font-weight: 100;
	width: 100%;
}
.optionLink {
	height: 20%;
}
.takeMeThereButton {
	height: 100%;
	width: 100%;
	text-align: center;
	border: 0px;
	background: rgba(69, 151, 211, 0.5);
	color: white;
	font-size: 3vh !important;
	font-weight: 100;
}
.takeMeThereButton:hover {
	background-color: rgba(69, 151, 211, 0.7);
}
.searchOption, .favoritesOption {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.footer {
	position: absolute;
	bottom: 0;
	background: rgba(0,0, 0, 0.5);
	color: white;
	font-size: 15px;
	text-align: center;
	width: 100%;
}