html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 300;
	min-height: 600px;
	min-width: 480px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
button:active,
button:focus,
button.active {
  background: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.banner-container {
	display: table;
	text-align: center;
	color: white;
	font-size: 8vh !important;
	font-weight: 100;
	width: 100%;
}
.banner-container p {
	height: 90%;
}
.navbar{
	margin-bottom: 0px;
}
.navbar a:hover {
	background-color: black !important;
	color: rgb(69, 151, 211) !important;
}
#logOutButton {
	background-color: rgba(255, 51, 51, 0.5);
	color: rgb(255, 255, 255);
}
#logOutButton:hover {
	background-color: rgba(255, 51, 51, 0.7) !important;
	color: rgb(255, 255, 255) !important;
}
#main {
	height: 100%;
	padding-top: 50px;
	background: url(../img/Optimized/clouds2DarkenOptimized.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.banner-container {
	width: 100%;
	height: 20%;
}
.menu-container {
	width: 100%;
	height: 80%;
	padding: 0px;
}
.spacer {
	height: 5%;
}
.blankSpacer {
	height: 5%;
}
.searchForm {
	height: 10%;
	margin: 0px;
	padding: 0px;
}
.searchWrap {
	height: 100%;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 1.5px solid white;
	background: rgba(0, 0, 0, 0.6);
	color: white;;
}
.form-control, .input-group-btn, .searchButton {
	height: 100% !important;
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-radius: 0px;
	background: none;
}
.form-control {
	padding-left: 5%;
	color: white;
	font-weight: 100;
	font-size: 2vh;
	width: 100% !important;
}
.input-group-btn {
	width: 30% !important;
}
.searchButton {
	margin: 0px !important;
	width: 100% !important;
	font-weight: 100;
	font-size: 2vh;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
}
.searchButton:hover {
	background-color: rgba(37,102,149, 0.3);
	color: white;
}

.navigationRow {
	color: white;
}
.forecastsRow {
	background-color: rgba(0, 0, 0, 0.6);
}
.navigationRow {
	background-color: rgba(0, 0, 0, 0.5)
}
.weatherWrapper {
	height: 60%;
	width: 100%;
	position: relative;
	text-align: center;
}
.weatherHolder, #defaultWeatherHolder {
	height: 100%;
	width: 60%;
	position: absolute;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.weatherHolder {
	display: none;
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
#defaultWeatherHolder {
	display: table;
	text-align: center;
	color: white;
	font-size: 8vh !important;
	font-weight: 100;
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid rgba(200, 200, 200, 0.5);
}
.navigationRow {
	height: 15%;
	margin-left: 0px;
	margin-right: 0px;
}
.navigationRow .col {
	height: 100%;
	padding: 0px;
}
.location {
	border-bottom: 2px solid rgb(225, 225, 225);
}
#threeDayTabToggle, #sevenDayTabToggle {
	height: 100%;
	width: 100%;
	background: none;
	border-bottom: 2px solid rgba(200, 200, 200, 0.5);
	border-left: 2px solid rgb(200, 200, 200);
	border-right: 2px solid rgb(200, 200, 200);
	color: rgb(255 , 255, 255);
}
#threeDayTabToggle:hover, #sevenDayTabToggle:hover {
	background-color: rgba(255, 255, 255, 0.1) !important;
	color: rgb(255 , 255, 255) !important;
}
#threeDayTabToggle {
	border-right: 1px solid rgba(200, 200, 200, 0.5);
}
#sevenDayTabToggle {
	border-left: 0px;
}

.forecastsRow {
	height: 85%;
	width: 100%;
	margin: 0px;
	position: relative;
	border-bottom: 2px solid rgb(225, 225, 225);
	border-left: 2px solid rgb(225, 225, 225);
	border-right: 2px solid rgb(225, 225, 225);
}
.threeDayForecast {
	background-color: none;
}
.threeDayForecast .col, .sevenDayForecast .col {
	border-left: 1px solid rgba(200, 200, 200, 0.5);
}
.firstCol {
	border-left: 0px;
}
.lastCol {
	border-right: 0px;
}
.threeDayForecast .weatherImg {
	border-left: 0px;
}
.threeDayForecast, .sevenDayForecast {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.threeDayForecast .col, .sevenDayForecast .col {
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.selectedButton {
	background-color: rgba(225, 225, 225, 0.1) !important;
	border-right: 2px solid rgba(225, 225, 225, 1) !important;
	border-left: 2px solid rgba(225, 225, 225, 1) !important;
	border-top: 2px solid rgba(225, 225, 225, 1) !important;
	border-bottom: 0px !important;
	color: rgb(255, 255, 255) !important;
}

.unselectedButton {
	border-right: 1px solid rgba(225, 225, 225, 0.4) !important;
	border-left: 1px solid rgba(225, 225, 225, 0.4) !important;
	border-top: 1px solid rgba(225, 225, 225, 0.4) !important;
	border-bottom: 2px solid rgba(225, 225, 225, 1) !important;
	color: rgba(255, 255, 255, 0.5) !important;
}
.dayName, .date, .weatherInfoRow, .weatherImg, .weatherTemp,
.weatherType, .moreButtonHolder {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.dayName {
	height: 10%;
}
.date {
	height: 5%;
}
.weatherInfoRow {
	height: 40%;
}
.weatherType {
	height: 10%;
}
.moreButtonHolder {
	height: 20%;
}
.moreButton {
	background-color: rgba(255, 255, 255, 0.1) !important;
}
.moreButton:hover {
	background-color: rgba(69, 151, 211, 0.5) !important;
}
.threeDayForecast {
	z-index: 2;
}
.sevenDayForecast .col {
	height: 100%;
	width: 14.2%;
}
.sevenDayForecast {
	/*display: table;*/
	z-index: 1;
	display: none;
}
.sevenDayForecast .col {
	height: 100%;
}
.col .row {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.longDayName {
	height: 15%;
}
.longDate {
	height: 10%;
}
.longWeatherImg {
	height: 30%;
}
.longWeatherType {
	height: 10%;
}
.longWeatherTemp {
	height: 15%;
}
.longMoreButtonHolder {
	height: 15%;
}
p, img, button {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
.smallSpacer {
	height: 2.5%;
}
.longWeatherImg img, .weatherImg img {
	-webkit-filter: invert(1);
   	filter: invert(1);
}
.location {
	padding-left: 2.5% !important;
	display: table;
	/*text-align: left;*/
	color: white;
	font-size: 3vh !important;
	font-weight: 100;
}
.dayName {
	display: table;
	text-align: center;
	color: white;
	font-size: 4vh !important;
	font-weight: 100;
	width: 100%;
}
.date, .weatherType {
	display: table;
	text-align: center;
	color: white;
	font-size: 2vh !important;
	font-weight: 100;
	width: 100%;
}
.weatherImg {
	display: table;
	text-align: center;
}
.weatherImg img{
	text-align: center;
	height: 100%;
	max-width: 100%;
}
.weatherTemp {
	display: table;
	text-align: center;
	color: white;
	font-size: 8vh !important;
	font-weight: 100;
}
.weatherType {
	display: table;
	text-align: center;
	color: white;
	font-size: 2vh !important;
	font-weight: 100;
	width: 100%;
}
.moreButtonHolder {
	display: inline-block;
	float: none;
	text-align: center;
	color: white;
	/*font-size: 2vh !important;*/
	/*font-weight: 100;*/
	width: 100%;
}
.moreButton {
	/*display: inline;*/
	width: 50%;
	height: 50%;
	background: none;
	border: 1px solid rgb(255, 255, 255);
}
.longDayName {
	display: table;
	text-align: center;
	color: white;
	font-size: 3vh !important;
	font-weight: 100;
	width: 100%;
}
.longDate, .longWeatherType {
	display: table;
	text-align: center;
	color: white;
	font-size: 2vh !important;
	font-weight: 100;
	width: 100%;
}
.longWeatherImg {
	display: table;
	text-align: center;
	width: 100%;
}

.longWeatherImg img{
	text-align: center;
	vertical-align: middle;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.longWeatherType {
	font-size: 1.5vh !important;
}
.longWeatherTemp {
	display: table;
	text-align: center;
	color: white;
	font-size: 3vh !important;
	font-weight: 100;
	width: 100%;
}
.longMoreButtonHolder {
	display: inline-block;
	float: none;
	text-align: center;
	color: white;
	/*font-size: 2vh !important;*/
	/*font-weight: 100;*/
	width: 100%;
}
.moreButton {
	/*display: inline;*/
	width: 50%;
	height: 60%;
	background: none;
	border: 1px solid rgb(255, 255, 255);
}
.col-xs-1 {
	overflow: hidden;
}
.col-xs-1:hover, .col-xs-4:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
}
.glyphicon {
	font-size: 7px;
}
.glyphicon-map-marker {
	font-size: 18px;
	margin:0px;
	padding: 0px;
}
#addFavoriteButton {
	width: 100%;
	height: 100%;
	background: none;
	color: white;
	border: 0px;
	margin: 0px auto;
	padding: 0px;
}
#addFavoriteButton:hover {
	background-color: rgba(100, 100, 100, 0.3);
}

.form-group {
	width: 100%;
	margin: 0 !important;
	margin-left: 2.5% !important;
	padding: 0;
	text-align: center;
}
.modal-content {
	color: white;
	font-size: 2vh !important;
}
.modal-body {
	background-color: rgb(150 ,150, 150);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 2vh !important
}
#modalAddCityName {
	width: 80%;
	height: 40px;
	color: white;
	border: 0px;
	background-color: rgb(75, 75, 75);
	margin-left: auto;
	margin-right: auto;
}
.modal-footer {
	background-color: rgb(75,75,75);
	height: 50px;
	margin: 0px;
	padding: 0px;
}
.utility-back, .utility-add, .goBackButton {
	background: none;
	border: none;
	color: rgb(69, 151, 211);
	width: 50%;
	height: 100%;
}
.goBackButton {
	width: 100%;
}
.utility-back:hover, .utility-add:hover, .goBackButton:hover {
	background-color: rgb(100, 100, 100);
}
.utility-back {
	border-right: 1px solid rgba(200, 200, 200, 0.5);
}