html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 300;
	min-height: 600px;
	min-width: 480px;
	margin: 0px;
	padding: 0px;
}

.navbar{
	margin-bottom: 0px;
}
.navbar a:hover {
	background-color: black !important;
	color: rgb(69, 151, 211) !important;
}
#logOutButton {
	background-color: rgba(255, 51, 51, 0.5);
	color: rgb(255, 255, 255);
}
#logOutButton:hover {
	background-color: rgba(255, 51, 51, 0.7) !important;
	color: rgb(255, 255, 255) !important;
}
#main {
	height: 100%;
	padding-top: 50px;
}

.banner-container {
	width: 100%;
	height: 40%;
	background: url(../img/mountainsOptimized.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.menu-container {
	width: 100%;
	height: 60%;
	background-color: rgb(225, 225, 225);
}

.spacer {
	height: 10%;
}
.row {
	height: 90%;
}
.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
}

.col-md-3, .col-md-2 {
	padding: 0px;
	background-color: rgb(100, 100 , 100);
	height: 90%;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
 	background-clip:         padding-box;
}
.optionImgHolder {
	height: 5%;
	width: 100%;
	text-align: center;
	
}

.optionNameHolder {
	height: 25%;
	width: 100%;
	text-align: center;
	display: table;
	
}
.optionName {
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 130%;
	letter-spacing: 0.1em;
}
.optionDescriptionHolder {
	height: 50%;
	width: 100%;
	text-align: center;
	display: table;
}
.optionDescription {
	display: table-cell;
	vertical-align: middle;
}
.optionLinkHolder {
	height: 20%;
	width: 100%;
	text-align: center;
	display: table;
}
.linkHolder {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50% !important;
	border: 0px;
	padding: 0px; 
}


