html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 300;
	min-height: 600px;
	min-width: 480px;
	margin: 0px;
	padding: 0px;
}

.navbar{
	margin-bottom: 0px;
}
.navbar a:hover {
	background-color: black !important;
	color: rgb(69, 151, 211) !important;
}
#logOutButton {
	background-color: rgba(255, 51, 51, 0.5);
	color: rgb(255, 255, 255);
}
#logOutButton:hover {
	background-color: rgba(255, 51, 51, 0.7) !important;
	color: rgb(255, 255, 255) !important;
}
#main {
	height: 100%;
	padding-top: 50px;
}

.banner-container {
	width: 100%;
	height: 35%;
	background: url(../img/mountainsOptimized.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.menu-container {
	width: 100%;
	height: 65%;
	background-color: rgb(225, 225, 225);
	padding: 0px;
}

.searchTextHolder {
	height: 5%;
	width: 100%;
	text-align: center;
	display: table;
}
/*
.searchText {
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 0px;
	font-size: 120%;
}
*/
.searchWrap {
	margin-left:auto;
	margin-right: auto;
}
.searchForm {
	height: 10%;
}
.spacer {
	height: 5%;
}
.weatherWrapper {
	height: 70%;
	width: 100%;
}
.weatherHolder {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/* THE BORDERS */
.weatherHolder * {
	border: 1px solid white;
}
/*THE BORDERS*/

.navigationRow {
	height: 15%;
	margin-left: 0px;
	margin-right: 0px;
}
.navigationRow .col {
	height: 100%;
	padding: 0px;
}
#threeDayTabToggle, #sevenDayTabToggle {
	height: 100%;
	width: 100%;
}
.forecastsRow {
	height: 85%;
	width: 100%;
	margin: 0px;
	position: relative;
}
.threeDayForecast {
	background-color: blue;
}
.sevenDayForecast {
	background-color: red;
}
.threeDayForecast, .sevenDayForecast {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.threeDayForecast .col, .sevenDayForecast .col {
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.dayName, .date, .weatherInfoRow, .weatherImg, .weatherTemp,
.weatherType, .moreButtonHolder {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.dayName {
	height: 20%;
}
.date {
	height: 10%;
}
.weatherInfoRow {
	height: 40%;
}
.weatherType {
	height: 10%;
}
.moreButtonHolder {
	height: 20%;
}
.threeDayForecast {
	z-index: 2;
}
.sevenDayForecast .col {
	height: 100%;
	width: 14.2%;
}
.sevenDayForecast {
	/*display: table;*/
	z-index: 1;
}
.sevenDayForecast .col {
	height: 100%;
}
.col .row {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.longDayName {
	height: 15%;
}
.longDate {
	height: 10%;
}
.longWeatherImg {
	height: 30%;
}
.longWeatherType {
	height: 10%;
}
.longWeatherTemp {
	height: 15%;
}

.longMoreButtonHolder {
	height: 20%;
}
.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
}



